interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cds.cern.ch/tools/custom_query_summary.py?end=2022&otag=65017a&refresh=1&repeated_values=0&start=2022
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<customquerysummary tag=\"65017a\"
        query=\"980:ARTICLE and (affiliation:CERN or 595:'For annual report') not
        980:ConferencePaper not 980:BookChapter not 595:'Not for annual report'\">\n<yearly_report
        year=\"2022\" publications=\"2123\" journals=\"978\" contributions=\"1117\"
        rest=\"27\" theses=\"278\">\n    <line>\n        <nb>357</nb>\n        <link>http://cds.cern.ch/search?p=980%3AARTICLE%20and%20%28affiliation%3ACERN%20or%20595%3A%27For%20annual%20report%27%29%20not%20980%3AConferencePaper%20not%20980%3ABookChapter%20not%20595%3A%27Not%20for%20annual%20report%27%20and%20year%3A2022%20and%2065017a%3A%22Particle%20Physics%20-%20Experiment%22&amp;wl=0</link>\n
        \       <result>Particle Physics - Experiment</result>\n    </line>\n    <line>\n
        \       <nb>255</nb>\n        <link>http://cds.cern.ch/search?p=980%3AARTICLE%20and%20%28affiliation%3ACERN%20or%20595%3A%27For%20annual%20report%27%29%20not%20980%3AConferencePaper%20not%20980%3ABookChapter%20not%20595%3A%27Not%20for%20annual%20report%27%20and%20year%3A2022%20and%2065017a%3A%22Particle%20Physics%20-%20Phenomenology%22&amp;wl=0</link>\n
        \       <result>Particle Physics - Phenomenology</result>\n   [...]
